@media screen and (max-width: 1120px) {
    .page-width {
        width: 100%;
        padding: 0 5px !important;
    }

    img {
        height: auto !important;
    }
}

@media screen and (max-width: 1024px) {
    #menuProject {
        position: relative;
        width: 100%;
        left: 0px;
        padding: 0px;
        margin-top: -20px;
        white-space: nowrap;
        overflow: auto;
    }

        #menuProject a {
            display: inline-block;
            font-size: 12px;
        }

        #menuProject i {
            font-size: 20px;
        }

    .page-left, .page-right {
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    #logo {
        float: none;
        display: inline-block;
        margin: 0px;
    }

    .head-right {
        float: none;
    }

    .form-search {
        width: auto;
        margin-left: 50px;
    }

    .header1 {
        position: absolute;
        left: 10px;
        bottom: 0px;
    }

        .header1 a {
            margin: 0px !important;
            background-color: #7b5b01 !important;
        }

    .item-3-home {
        width: 49.9%;
    }
}

@media screen and (max-width: 680px) {
    .page-width {
        max-width: 400px;
    }



    .item-2 {
        width: 100%;
    }


    .item-4 {
        width: 49.9%;
    }

    .inner-item {
        margin: 0 2px;
    }

    .list-item {
        margin: 0 -2px;
    }

    .TabBox .tabbox-name .TabName {
        font-size: 14px;
    }

    .title-large {
        font-size: 16px;
    }

    .style-tree1 .tree-item {
        font-size: 14px;
    }

    .style-tree2 .tree-item {
        padding: 0px 10px;
        font-size: 12px;
    }

    .gallery a {
        width: 33.3%;
    }

    #menuProject.fix {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 11;
        margin: 0px !important;
    }

    .contact-left, .contact-right {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .item-3 {
        width: 100%;
    }

    .page-width2 {
        max-width: 400px;
    }

    h1 {
        font-size: 18px;
    }

    .title-center {
        font-size: 18px;
    }

    .form th, .form td {
        display: block;
    }
}

@media screen and (max-width: 450px) {
}
