body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 1.7em;
    margin: auto;
    position: relative;
    overflow-x: hidden;
}

.page-width2 {
    max-width: 1349px;
    margin: auto;
    position: relative;
}

.page-width {
    width: 1120px;
    margin: auto;
    position: relative;
}

.fa * {
    font-family: 'Roboto Condensed', sans-serif;
    vertical-align: top;
}

.paging-top {
    display: none;
}

.paging {
    text-align: center;
    font-size: 14px;
}

.list-item {
    margin: 0 -10px;
    font-size: 0px;
}

.list-item-2 {
    font-size: 0px;
}

.inner-item-2 {
    font-size: 14px;
}

.inner-item {
    margin: 0 10px;
    font-size: 14px;
}


.contact-left {
    width: 35%;
    display: inline-block;
    float: left;
    vertical-align: top;
}

.contact-right {
    width: 64.9%;
    display: inline-block;
    vertical-align: top;
    float: right;
}


.page-left {
    width: 25%;
    display: inline-block;
    float: left;
    vertical-align: top;
}

.page-right {
    width: 74.9%;
    display: inline-block;
    vertical-align: top;
    float: right;
}

.item-4 {
    width: 24.9%;
    display: inline-block;
    vertical-align: top;
}

.item-3 {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
}

.item-2 {
    width: 49.9%;
    display: inline-block;
    vertical-align: top;
}

.item-5 {
    width: 19.9%;
    display: inline-block;
    vertical-align: top;
}

.sub-2-row {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

.sub-3-row {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

.sub-4-row {
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}


.a-center {
    text-align: center;
}

a {
    color: #2e3039;
}

    a:hover {
        color: #e47717;
    }

#footPage {
    background: #428bca;
    color: white;
    padding: 20px 0;
    border-top: solid 1px white;
}

#footPage2 {
    background: #428bca;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-top: solid 1px white;
}

    #footPage2 a {
        text-transform: uppercase;
        color: white;
    }

h1 {
    font-size: 20px;
    position: relative;
}

    h1:after {
        width: 100px;
        height: 1px;
        background: white;
        display: block;
        content: '';
        margin: auto;
        margin-top: 10px;
    }

.title-center {
    color: #428bca;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
}

    .title-center:after {
        width: 100px;
        height: 1px;
        background: #428bca;
        display: block;
        content: '';
        margin: auto;
        margin-top: 10px;
    }

.title-page {
    color: #428bca;
    font-weight: bold;
    margin: 10px 0;
    margin-bottom: 20px;
    font-size: 22px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

#headPage {
    border-top: solid 4px #428bca;
    background: url(../Images/Home/header.png) center center no-repeat;
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 11;
}

.head-right {
    float: right;
    text-align: center;
}


.main-menu {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
}

#logo {
    float: left;
}

.main-menu > li {
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
    position: relative;
}

.main-menu ul {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 220px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
    background: white;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.main-menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.main-menu > li > a {
    display: block;
    padding: 0 10px;
    text-transform: uppercase;
    color: #428bca;
    font-size: 16px;
}

.main-menu a i {
    display: inline-block;
    margin-left: 10px;
}

.main-menu ul a {
    padding: 5px 10px;
    display: block;
    border-top: solid 1px #ddd;
}

.main-menu ul li {
    display: block;
}

.form-search {
    border: solid 1px #428bca;
    line-height: 32px;
    height: 34px;
    width: 220px;
    padding-right: 32px;
    border-radius: 5px;
    position: relative;
}

    .form-search input {
        height: 100%;
        border-radius: 5px;
        padding: 0 10px;
        width: 100%;
        border: 0px;
    }

    .form-search button {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 32px;
        text-align: center;
        line-height: 32px;
        height: 32px;
        background: #428bca;
        color: white;
        border: 0px;
        padding: 0px;
    }

.hotline {
    line-height: 38px;
    color: #428bca;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

#slideLogo .name {
    text-align: right;
    display: block;
    font-weight: bold;
}

#slideLogo .item {
    text-align: center;
    display: block;
}

#slideLogo .img {
    display: block;
    margin: auto;
}

.banner-item .d {
    position: absolute;
    left: 0px;
    bottom: 20px;
    background: url(../Images/Home/bg-banner.png) repeat-y;
    color: white;
    width: 100%;
    padding: 10px 20px;
}

    .banner-item .d p {
        margin: 0px;
    }

    .banner-item .d h2 {
        color: #428bca;
        margin: 0px;
        padding-bottom: 10px;
    }

.project-home-item {
    position: relative;
    display: block;
    text-align: center;
    color: white !important;
}


    .project-home-item table {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    .project-home-item .name {
        text-transform: uppercase;
        font-size: 18px;
        padding: 0 10px;
    }

    .project-home-item .desc {
        padding: 10px;
    }

    .project-home-item .more {
        width: 100px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        border-top: solid 1px;
        border-bottom: solid 1px;
        padding: 5px;
        margin-top: 20px;
        display: inline-block;
    }

    .project-home-item .hover {
        display: none;
    }

    .project-home-item:hover .hover {
        display: block;
    }

.intro-home {
    margin-bottom: 20px;
    margin-right: -1px;
}

    .intro-home .date {
        font-style: italic;
    }

    .intro-home .name {
        padding: 10px;
        text-align: center;
        color: #2a6fa9;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
    }

    .intro-home .img {
        border: solid 1px #ddd;
        padding: 20px;
    }

        .intro-home .img img {
            display: block;
            margin: auto;
            margin-bottom: 10px;
        }

    .intro-home .desc {
        height: 92px;
    }


.wrapBreadcrumb {
    background: #f3f3f3;
    padding: 10px 0;
    margin-bottom: 20px;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: black;
    list-style: none;
    overflow: hidden;
}

    .breadcrumb a {
        color: black;
        display: block;
        line-height: 22px;
    }

    .breadcrumb > li {
        position: relative;
        white-space: nowrap;
        display: inline-block;
        height: 22px;
        vertical-align: top;
        padding-right: 6px;
    }



.form {
    width: 100%;
}

    .form th, .form td {
        padding: 0 10px 10px 0;
        text-align: left;
    }

    .form .TextBox, .form .TextArea {
        width: 100%;
    }

.Button {
    min-width: 100px;
}

.clear-p p {
    margin: 0px;
}



.title-large {
    color: #428bca;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
}

.TabBox .tabbox-name {
    border: 0px;
}

    .TabBox .tabbox-name li {
        float: none;
        display: inline-block;
        border: solid 1px #428bca;
        margin: 0 10px;
    }

    .TabBox .tabbox-name .TabName.tab-active {
        background: #428bca;
    }

    .TabBox .tabbox-name .TabName {
        border: 0px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        color: #428bca;
        position: relative;
    }

        .TabBox .tabbox-name .TabName.tab-active::after {
            content: ' ';
            position: absolute;
            top: 100%;
            left: 50%;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            background: #428bca;
            border-left: 2px solid #428bca;
            border-bottom: 2px solid #428bca;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

.TabBox .tabbox-name {
    text-align: center;
    height: auto;
}

.TabBox .TabContent {
    border: 0px;
    padding: 20px 0 0 0;
}

.tree-icon {
    display: none;
}

.style-tree1 {
    text-align: center;
    display: block;
}

    .style-tree1 li {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
    }

    .style-tree1 .tree-item {
        padding: 6px 10px;
        border: solid 1px #428bca;
        font-size: 18px;
        text-transform: uppercase;
        color: #428bca;
        line-height: normal;
    }

    .style-tree1 li.selected .tree-item {
        position: relative;
        background: #428bca;
        color: white;
    }

        .style-tree1 li.selected .tree-item:after {
            content: ' ';
            position: absolute;
            top: 100%;
            left: 50%;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            background: #428bca;
            border-left: 2px solid #428bca;
            border-bottom: 2px solid #428bca;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

.style-tree2 {
    text-align: center;
}

    .style-tree2 li {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px 10px 0;
        border: solid 1px #ff4700;
    }

    .style-tree2 .tree-item {
        padding: 5px 10px;
        color: #ff4700;
        text-transform: uppercase;
        font-size: 15px;
    }

    .style-tree2 li.selected .tree-item {
        background: #ff4700;
        color: white;
    }

.gallery a {
    float: left;
    width: 24.4%;
    border: solid 1px white;
}

    .gallery a img {
        display: block;
    }

.thuvien-item {
    margin-bottom: 20px;
}

    .thuvien-item .img {
        float: left;
        margin: 0 10px 10px 0;
    }

    .thuvien-item .name {
        color: #428bca;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }

#thuvien {
    background: #ddd;
}

#menuProject {
    background: #ddd;
    position: fixed;
    top: 10%;
    left: 10px;
    text-align: center;
    padding: 10px 0;
    z-index: 10;
}

    #menuProject a {
        display: block;
        padding: 10px 0;
        width: 80px;
        text-transform: capitalize;
        font-weight: bold;
    }

    #menuProject i {
        display: block;
        font-size: 28px;
        margin-bottom: 5px;
    }

.partner-item {
    margin-bottom: 20px;
    text-align:center;
}

    .partner-item .wrapimg {
        border: solid 1px #ddd;
        padding: 10px;
    }

    .partner-item .img {
        display: block;
        background-size: contain !important;
        background-position: center center !important;
        height: 200px;
        background-repeat: no-repeat !important;
    }

        .partner-item .img img {
            margin: auto;
        }

    .partner-item .name {
        padding: 10px 0;
        font-weight: bold;
        display: block;
    }

.slogan * {
    margin: 0px;
}

.wrap-menu {
    display: inline-block;
}

.box-content-left {
    background: #7f610d;
    color: white;
    padding: 10px;
}

    .box-content-left a {
        color: white;
    }

.menu-item {
    display: block;
    padding: 10px;
    border-bottom: solid 1px #ddd;
    line-height: 17px;
    color: #333;
}

    .menu-item:hover, .menu-item.select {
        background: #7f610d;
        color: white !important;
    }

    .menu-item i {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        line-height: 17px;
    }

/* Khối logo đối tác */
#slideLogo {
    display: flex;
    align-items: center;
}

/* Mỗi logo */
#slideLogo .item {
    width: 180px;              /* chỉnh theo ý */
    height: 90px;              /* tất cả logo cùng chiều cao */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ảnh logo */
#slideLogo .item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;       /* GIỮ TỶ LỆ – không méo */
}
